脚の画面
<div style="text-align:center">
  <iframe width="426" height="240" src="https://www.youtube.com/embed/<%= @video1.youtube_id %>" title="<%= @video1.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="426" height="240" src="https://www.youtube.com/embed/<%= @video2.youtube_id %>" title="<%= @video2.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="text-align:center">
  <iframe width="426" height="240" src="https://www.youtube.com/embed/<%= @video3.youtube_id %>" title="<%= @video3.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="426" height="240" src="https://www.youtube.com/embed/<%= @video4.youtube_id %>" title="<%= @video4.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>

<div align="center">
  
</div>