<h1>マイページ</h1>                                                   
<p>ユーザーの名前</p>
<p>現在</p>
<%= @user_name %>
<p>身長</p>
<%= @user_height %>
<p>体重</p>
<%= @user_weight %>
<p>体脂肪</p>
<%= @user_fat_percentage %>
<p>筋肉量</p>
<%= @user_musclemass %>

<p>目標</p>
<p>体重</p>

<p>体脂肪</p>

<p>筋肉量</p>

<%= link_to 'トレーニング開始', '/trainings/start' %>

